html {
  font-size: 62.5%;
  font-family: "Mukta", sans-serif;
}

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: white;
  box-shadow: 0 5px 2px 0 gray;
}

@media (max-width: 1550px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 45%;
  }
}
